/* app css stylesheet */

* {
 font-size: 100%;
 font-family: 'Open Sans';
}

body {
  padding-top: 20px;
  margin: 20px;
  margin-left: 50px;


    div, h1, input {
        font-family: HelveticaNeue, Helvetica;
        color: #777;
    }

}

  button {
    background-color: #4CAF50;
    border: none;
    margin: 10px;
    color: white;
    padding: 9px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

